body {
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    color: black;
    background-color: white;
}

#photo-list {
    border: solid black 2px;
/*    display: flex;*/
    width: 90%;
    margin: auto;
}

.tile-container {
    border: solid red 2px;
/*
    width: 100px;
    height: 100px;
*/
    overflow: hidden
}

.tile-container .image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.outline-hidden {
    display: none;
}

#sorting-methods {
    border: solid blue 2px;
}

#filters {
    border: solid blue 2px;
}

#title-space {
    border: solid green 2px;
}

#details {
    border: solid yellow 2px;
}
